:root {
  --teal: #049baf;
  --yellow: #ffe100;
  --yellow-hover: #e6cb00;
  --white: #ffffff;
  --grey-100: #e9e9e9;
  --charcoal: #333333;

  --border: var(--grey-100);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--white);
  color: var(--charcoal);
  font-family: "DM Sans Variable", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  @media (min-width: 800px) {
    font-size: 2.4rem;
  }
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h1 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 6rem;
  text-transform: uppercase;
}

h2 {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 1.25;

  @media (min-width: 800px) {
    font-size: 3.2rem;
  }
}

.eyebrow {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  @media (min-width: 800px) {
    font-size: 2rem;
  }
}

.spacing-medium {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
