.intro {
  padding: 4rem 0;

  @media (min-width: 800px) {
    padding: 8rem 0 6rem;
  }
}

.container {
  padding: 0 2rem;
  max-width: 88rem;
  margin: 0 auto;

  h2,
  p {
    max-width: 56rem;
  }
}
