---
import styles from "./Intro.module.css";
---

<div class={styles.intro}>
  <div class={styles.container}>
    <div class="spacing-medium">
      <h2>Bringing your design to life</h2>
      <p>
        Specialist frontend developer with a passion for UX, UI and motion.
        Available for freelance work or contract roles in Bristol (UK) or
        remote.
      </p>
    </div>
  </div>
</div>
