---
import "@fontsource/red-hat-display/900.css";
import "@fontsource-variable/dm-sans";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>George Smerin - Freelance Frontend Developer</title>
  </head>
  <body>
    <slot />
  </body>
</html>
